# hw8pr2.py (CodingBat)
https://www.cs.hmc.edu/twiki/bin/view/CS5/GoldHw8Pr2

Here is a complete and correct answer for double_char:

```
def double_char(str):
  result = ''
  for c in str:
    result += c*2
  return result
```
Feel free to type—or paste—this in and then check that it does pass the tests.

In [1]:
def double_char(str):
  result = ''
  for character in str:
    result += c*2
  return result

In [2]:
double_char('Hello')

'HHeelllloo'

In [3]:
# See the logic

"H"*2

'HH'

In [4]:
"e"*2

'ee'

## Solve any five PythonBat problems
Solve any five of the PythonBat problems on the two pages linked (http://codingbat.com/python/List-2, http://codingbat.com/python/String-2)

Be sure to name the functions the same as specified by PythonBat
Copy your working and tested functions into a file named hw9pr2.py
No need for docstrings for these functions

### 1. String-2 > count_code 
Return the number of times that the string "code" appears anywhere in the given string, except we'll accept any letter for the 'd', so "cope" and "cooe" count.

In [5]:
# We're not really counting "code", 
# but any word that starts with a "co" and ends with an "e"

def count_code(str):
    count = 0                                      # Start count at 0
    for i in range(0, len(str)-3):                 # You need 4 characters, thus -3
        if str[i:i+2] == 'co' and str[i+3] == 'e': # If i=0, 0:2, etc.
            count +=1
    return count

In [6]:
count_code('cozexxcope')

2

### 2. String-2 > count_hi 
Return the number of times that the string "hi" appears anywhere in the given string.

In [41]:
def count_hi(str):
    count = 0
    for i in range(0, len(str)-1):
        if str[i:i+2] == 'hi':
            count+=1
    return count

In [42]:
str0 = 'hellohihellohihi'

In [43]:
len(str0)

16

In [44]:
str0[1:3]

'el'

In [45]:
count_hi(str0)

3

### 3. String-2 > end_other 
Given two strings, return True if either of the strings appears at the very end of the other string, ignoring upper/lower case differences (in other words, the computation should not be "case sensitive"). Note: s.lower() returns the lowercase version of a string.

In [50]:
str1 = 'Hiabc'
str2 = 'abc'

In [51]:
len(str1)

5

In [52]:
len(str2)

3

In [54]:
len(str1) - len(str2)

2

In [57]:
str1.lower()

'hiabc'

In [61]:
def end_other(a,b):
    long_str, short_str = (a,b) if len(a) >= len(b) else (b,a)
    return long_str.lower().endswith(short_str.lower())

In [63]:
end_other(str2, str1)

True

### 4. String-2 > cat_dog 
Return True if the string "cat" and "dog" appear the same number of times in the given string.

In [66]:
str3 = '1cat1cadodog'

In [74]:
def cat_dog(str):
    return str.count('cat') == str.count('dog')

In [75]:
cat_dog(str3)

True

### 5. String-2 > xyz_there 
Return True if the given string contains an appearance of "xyz" where the xyz is not directly preceeded by a period (.). So "xxyz" counts but "x.xyz" does not.

In [91]:
str4 = '1.xyz.xyz2.xyz'

In [96]:
def xyz_there(str):
    if str[:3] == "xyz":
        return True
                    
    for i in range(1, len(str)-2):
        if str[i-1] != "." and str[i:i+3] == "xyz":
            return True
                                      
    return False

In [97]:
xyz_there(str4)

False

## Extra credit option: Solve the others, too!
Or, for up to +6 points of extra credit, feel free to solve the other six problems, as well.

The auto-grader will check for all 11, but will score the results out of 5 points. As a result, any functions you complete beyond those five will be extra-credit.

### 6. List-2 > count_evens 
Return the number of even ints in the given array. Note: the % "mod" operator computes the remainder, e.g. 5 % 2 is 1.

In [101]:
def count_evens(nums):
    count = 0
    for i in nums:
        if i%2 == 0:
            count +=1
    return count

In [102]:
count_evens(num_list1)

5

### 7. List-2 > sum13 
Return the sum of the numbers in the array, returning 0 for an empty array. Except the number 13 is very unlucky, so it does not count and numbers that come immediately after a 13 also do not count.

In [152]:
num_list2 = [1,2,13,2,1,13]

In [161]:
def sum13(nums):
    if len(nums) == 0:
        return 0
    
    for i in range(0, len(nums)):
        if nums[i] == 13:
            nums[i] = 0
            if i+1 < len(nums): 
                nums[i+1] = 0
    return sum(nums)

In [160]:
sum13(num_list2)

4

In [162]:
# Let's break it down

len(num_list2)

6

In [163]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

### 8. List-2 > big_diff  
Given an array length 1 or more of ints, return the difference between the largest and smallest values in the array. Note: the built-in min(v1, v2) and max(v1, v2) functions return the smaller or larger of two values.

In [165]:
num_list3 = [10,3,5,6]

In [166]:
def big_diff(nums):
    smallest = 0
    largest = 0
    for i in nums:
        if i == min(nums):
            smallest = i
        if i == max(nums):
            largest = i
    return largest-smallest

In [167]:
big_diff(num_list3)

7

### 9. List-2 > sum67  
Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 7 (every 6 will be followed by at least one 7). Return 0 for no numbers.

In [168]:
num_list4 = [1,2,2,6,99,99,7,1]

In [177]:
def sum67(nums):
    flag = True
    sum = 0
    for i in range(0, len(nums)):
        if nums[i]==6:
            flag = False
        elif flag == False and nums[i] == 7:
            flag = True
        elif flag == True:
            sum = sum + nums[i]
    return sum

In [178]:
sum67(num_list4)

6

### 10. List-2 > centered_average  
Return the "centered" average of an array of ints, which we'll say is the mean average of the values, except ignoring the largest and smallest values in the array. If there are multiple copies of the smallest value, ignore just one copy, and likewise for the largest value. Use int division to produce the final average. You may assume that the array is length 3 or more.

In [9]:
array = [1,2,3,4,5,6,7,8,9,10]

In [17]:
array[1:-1]

[2, 3, 4, 5, 6, 7, 8, 9]

In [181]:
num_list5 = [2,2,3,4,100]

In [182]:
def centered_average(nums):
    nums.sort()
    return sum(nums[1:-1])/(len(nums)-2)

In [184]:
centered_average(num_list5)

3.0

### 11. List-2 > has22  
Given an array of ints, return True if the array contains a 2 next to a 2 somewhere.

In [188]:
num_list6 = [1,2,1,2]

In [187]:
def has22(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 2 and nums[i+1] ==2:
            return True
    return False

In [189]:
has22(num_list6)

False